@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-family: "Times New Roman";
}

h3 {
    color: white;
    outline-color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;

}

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    height: 100vh;
    background-size: cover;
}

nav {
    background-color: white;
    color: black;
    padding: 10px 0;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 999;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 600px) {
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    .package-card {
        padding: 15px;
        height: 12rem;
    }

    .package-card h3 {
        font-size: 1.5rem;
    }

    .package-card p {
        font-size: 1rem;
    }
}

nav ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    height: 1vh;
}

.logo {
    height: 8rem;
}

.logo img {
    height: 100%;
}

.hero1 {
    background-image: url("https://res.cloudinary.com/dysizt7bm/image/upload/v1710501066/wp4511445_vsnbus.jpg");
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.hero1 h1 {
    font-size: 3rem;
    font-family: Times New Roman;
}

.hero1 p {
    font-size: 1.5rem;
    font-family: Times New Roman;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.package-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.ig1 {
    background-image: url("https://res.cloudinary.com/dysizt7bm/image/upload/v1710500275/kumarakom_yvxhze.jpg");
    background-size: cover;
}

.ig2 {
    background-image: url("https://res.cloudinary.com/dysizt7bm/image/upload/v1710500276/Goa_Beach_Stay_cxkztf.jpg");
    background-size: cover;
}

.ig3 {
    background-image: url("https://res.cloudinary.com/dysizt7bm/image/upload/v1710500275/wayanad_wjcur0.jpg");
    background-size: cover;
}

.package-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}



.package-card button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.package-card button:hover {
    background-color: #45a049;
}

/* Form Styles */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}


.collection-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 10rem;
    align-items: center;

}

.i1 {
    background-image: url("https://res.cloudinary.com/dysizt7bm/image/upload/v1710502231/3klnmq2_sgkgui.jpg");
    background-size: cover;
}

.i2 {
    background-image: url("https://res.cloudinary.com/dysizt7bm/image/upload/v1710502410/dm0tineD_z7hcoj.jpg");
    background-size: cover;
}

.i3 {
    background-image: url("https://res.cloudinary.com/dysizt7bm/image/upload/v1710502409/Beautiful-starry-night-sky-wallpaper-hd_f59bss.png");
    background-size: cover;
}

.collection-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.collection-card h3 {

    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .collection-card button {
        background-color: #f9a825;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        width: 1rem;
        height: 1rem;
    }

}

.collection-card button {
    background-color: #f9a825;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.collection-card button:hover {
    background-color: #c88719;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
